/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Container */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 10px 20px;
}

/* HEADER */
.hero {
  background-color: #0f172a;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero .tagline {
  font-size: 1.1rem;
  color: #cbd5e1;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #1e293b;
  border-radius: 5px;
}

/* Sections */
main section {
  margin-top: 60px;
}

section ul {
  margin-left: 29px;
  gap: 10px;
  margin-bottom: 9px;
}

h2 {
  color: #0f172a;
  margin-bottom: 20px;
  font-size: 1.8rem;
  border-left: 4px solid #3b82f6;
  padding-left: 10px;
}

p {
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: #444;
}

#projects a:link,
#projects a:visited,
#projects a:hover,
#projects a:active {
  color: #3b82f6; /* Tailwind blue-500 */
  text-decoration: none;
  font-weight: 500;
}

#projects a:hover {
  text-decoration: underline;
}

/* FOOTER */
footer {
  background-color: #0f172a;
  color: #fff;
  text-align: center;
  padding: 25px 15px;
  font-size: 0.95rem;
}

/* Responsive - Mobile */
@media (max-width: 600px) {
  .hero {
    padding: 35px 15px;
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  .hero .tagline {
    font-size: 0.9rem;
  }

 nav ul {
    gap: 1.5rem;
  }

  nav a {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.05rem;
  }

  footer {
    font-size: 0.85rem;
    padding: 18px 10px;
  }
}

/* Responsive - Tablets */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

 nav ul {
    gap: 1.7rem;
  }

  nav a {
    font-size: 0.9rem;
  }


  h2 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.1rem;
  }

  footer {
    padding: 20px 12px;
    font-size: 0.9rem;
    }
}
